.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(61, 59, 59, 0.63);
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: transform 0.2s ease-out;
  z-index: 9999;
}

/* Scale up when hovering over interactive elements */
button:hover ~ .custom-cursor,
a:hover ~ .custom-cursor {
  transform: scale(2);
  background-color: rgba(255, 255, 255, 0.5);
}
